@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
	scroll-behavior:smooth;
}

:root {
	--primary-color: #a855f7;
	--primary-color-dark: #9333ea;
	--secondary-color: #ca8a04;
	--text-dark: #1f2937;
	--text-light: #6b7280;
	--extra-light: #faf5ff;
	--max-width: auto;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
			padding: 1.5rem 6rem;
}


a {
	text-decoration: none;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 99;
}

.nav_content {
	max-width: var(--max-width);
	margin: auto;
	padding: 1.5rem 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .logo a {
	font-size: 1.5rem;
	font-weight: 600;
	color: #585858;
	transition: 3s;
}

nav .logo a:hover {
	color: var(--primary-color-dark);
}

nav .checkbox {
	display: none;
}

nav input {
	display: none;
}

nav .checkbox i {
	font-size: 2rem;
	color: var(--primary-color);
	cursor: pointer;
}

ul {
	display: flex;
	align-items: center;
	gap: 1rem;
	list-style: none;
	transition: left 0.3s;
}

ul li a {
	padding: 0.5rem 1rem;
	border: 2px solid transparent;
	text-decoration: none;
	font-weight: 600;
	color: var(--text-dark);
	transition: 0.3s;
}

ul li a:hover {
	
	border-bottom-color: #D9D9D9;
	color: var(--text-dark);
}

.section {
	/*
	background-color: var(--extra-light);
	*/
}

.section_container {
	/*
	min-height: 100vh;
	*/
	max-width: var(--max-width);
	margin: auto;
	padding-top: 7rem;
	padding-bottom: 4rem;
	padding-left: 0;
	padding-right: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subtitle {
	letter-spacing: 2px;
	color: var(--text-light);
	font-weight: 600;
	margin-bottom: 2rem;
}

.title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 3rem;
	color: var(--text-dark);
	margin-bottom: 1rem;
}

.title span {
	font-weight: 600;
	font-size: 3rem;
}

.description {
	line-height: 1.5rem;
	color: var(--text-light);
	margin-bottom: 2rem;
}

.action_btn {
	display: flex;
	gap: 1rem;
}

.action_btn a{
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 1rem 2rem;
	outline: none;
	border: 2px solid var(--text-dark);
	border-radius: 10px;
	transition: 0.3s;
	cursor: pointer;
}



.resume {
/*
	color: var(--primary-color);
	border-color: var(--primary-color);
*/
	BACKGROUND-color: var(--text-dark);
	color: #ffffff;


}

.resume:hover {
	/*
	background-color: var(--primary-color-dark);
	*/
	color: var(--text-dark);
	background-color: #ffffff;
}

.image {
	display: grid;
	place-items: center;
}

.image img {
	width: min(100rem, 30%);

}


.projects {
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*
	background-color: grey;
	*/
}


.project_headline {
	/*
	border: 0.5rem solid blue;
	*/
	padding: 1.5rem 0;
	font-size: 2rem;
	font-weight: 600;
}

.project-1 {
	display: flex;
	  flex-flow: row wrap;
  align-items: center;
	border-radius: 24px;

	

	padding: 1.5rem 3rem 1.5rem	3rem;
	/*
	margin: 1.5rem 6rem 1.5rem	6rem;
	*/
	height: auto;
	gap: 1rem;
}

.purplle {
	background-color: #D8BFD8;	
}

.groww {
	background-color: #EAFFF3;	
}

.name-cta {
	/*
	border: 0.5rem solid blue;
	*/	
	max-width: var(--max-width);
	display: flex;
	  flex-flow: row wrap;
  align-items: center;
	align-items: center;
	flex-direction: row;
	padding: 2rem;
}

.name {
	/*
	border: 0.5rem solid yellow;
	*/
	width: 70%;
}

.project-name  {
	padding: 0.5rem 0 0.5rem 0;
	font-size: 1.5rem;
	color: var(--text-dark);
}

.project-desc {
	padding: 0.5rem 0 0.5rem 0;
	font-size: 1rem;
	color: #585858;
}


.c-s-btn a{

	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 1rem 2rem;

	transition: 0.3s;
	cursor: pointer;

	display: flex;
	gap: 1rem;

	align-items: center;
	justify-content: center;
}

.purplle-case-study {
	color: var(--text-dark);
	border-color: var(--primary-color);
	background-color: #ffffff;
		outline: none;
	border: 2px solid var(--primary-color);
	border-radius: 10px;
}

.purplle-case-study:hover {
	background-color: var(--primary-color-dark);
	color: #ffffff;
}

.groww-case-study {
	color: var(--text-dark);
	border-color: #00805F;
	background-color: #ffffff;
	outline: none;
	border: 2px solid #00805F;
	border-radius: 10px;
}

.groww-case-study:hover {
	background-color: #00805F;
	color: #ffffff;
}

.project-img {
	display: flex;
	justify-content: center;
}

.project-img img{
	height: auto;
	width: 100%;
}

.icon .arrow-icon {
	height: 24px;
	width: 24px	;
	color: #00805F;
}



hr.solid {
  border-top: 3px solid #bbb;
}


.contact-me {


}


.contact-me-title {
	font-size: 1.3rem;
	font-size: 600;
	padding: 1rem;
}

.social-icons {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  padding: 1rem;
  
}

.linkedin {
    padding: 10px;
  flex: 25%;
}

.twitter {
	  padding: 10px;
  flex: 25%;
}

.email {
	  padding: 10px;
  flex: 50%;
}





















@media (width < 1200px) {

.project-1 {
	margin: 1.5rem 0;
	padding: 0;
}

.name-cta {
	flex-direction: column;
	    align-items: flex-start;
    gap: 1.5rem;

	}
.name {
	/*
	border: 0.5rem solid yellow;
	*/
	width: 100%;
}

.social-icons {

  flex-direction: column;
  font-size: 1.3rem;
  
}

}





@media (width < 750px) {

	body {
		padding: 1.5rem;
	}

	.project-1 {
	margin: 0;
	padding: 0;
}

	.nav_content {
	padding: 1.5rem 1.5rem;

}
	nav .checkbox {
		display: block;
	}

	ul {
		position: absolute;
		width: 100%;
		height: calc(100vh - 85px);
		left: -100%;
		top: 85px;
		background-color: var(--extra-light);
		flex-direction: column;																								 
		justify-content: center;
		gap: 3rem;
	}

	nav #check:checked ~ ul {
		left: 0;
	}

	ul li a {
		font-size: 1.25rem								;
	}




	.section_container {
		padding: 10rem 1rem 5rem 1rem;
		/*
		text-align: center;
		*/
		grid-template-columns: repeat(1, 1fr);
	}

	.image {
		grid-area: 1/1/2/2;
	}

	.action_btn {
	/*
		margin: auto;
	*/
	}


	.project-1 , .name-cta {
	flex-direction: column;
	gap: 2rem;
	}



	.name , .action_btnn {
		width: 100%;
		flex-direction: column;	
	}



.contact-me-title {
	font-size: 1.4rem;
}
.social-icons {

  flex-direction: column;
  font-size: 1.2rem;
  
}


}



}


